<a href="https://colab.research.google.com/github/Jahan08/Ambertools-CP2K-MM-QM-Biomolecular-Simulation/blob/main/Filtering%20Libraries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd

In [67]:
df = pd.read_excel('/content/LC_actives.xlsx')
df

                                                SMILES        NAME
0                          c1(ncccn1)N(CC2)CCN2C3CCCC3  F6543-0989
1                      c1(ncccn1)N(CC2)CCN2C\C=C(/C)\C  F6667-7326
2         N(CC(CC1)CCN1c2ccncc2Cl)(C=NC(=C3)C4CC4)C3=O  F6606-1872
3                              s1c(OC(C2)CO2)nnc1C3CC3  F6608-0754
4                       n1(c(C)cc(C)n1)c2ncnc(C3CC3)c2  F6592-2414
..                                                 ...         ...
400  C1(C(=O)\C=C\c2ccc(cc2Cl)Cl)=C(c3ccccc3)c4c(cc...  F0324-0018
401  c12n(c(cs1)C)cc(c3ccc(cc3)NC(=O)c4cc(Cl)ccc4[N...  F1897-0348
402  c12n(c(cs1)C)cc(c(cccc3NC(=O)c4cc(Cl)ccc4[N+](...  F1897-0237
403       c12n(c(cs1)C)cc(c(cccc3NC(=O)c4ccccc4I)c3)n2  F1897-0260
404       c12n(c(cs1)C)cc(c3ccc(cc3)NC(=O)c4ccccc4I)n2  F1897-0371

[405 rows x 2 columns]

In [69]:
df.to_csv ("actives.smi", 
                  index = None,
                  header=True)
df = pd.DataFrame(pd.read_csv("actives.smi"))
df

                                                SMILES        NAME
0                          c1(ncccn1)N(CC2)CCN2C3CCCC3  F6543-0989
1                      c1(ncccn1)N(CC2)CCN2C\C=C(/C)\C  F6667-7326
2         N(CC(CC1)CCN1c2ccncc2Cl)(C=NC(=C3)C4CC4)C3=O  F6606-1872
3                              s1c(OC(C2)CO2)nnc1C3CC3  F6608-0754
4                       n1(c(C)cc(C)n1)c2ncnc(C3CC3)c2  F6592-2414
..                                                 ...         ...
400  C1(C(=O)\C=C\c2ccc(cc2Cl)Cl)=C(c3ccccc3)c4c(cc...  F0324-0018
401  c12n(c(cs1)C)cc(c3ccc(cc3)NC(=O)c4cc(Cl)ccc4[N...  F1897-0348
402  c12n(c(cs1)C)cc(c(cccc3NC(=O)c4cc(Cl)ccc4[N+](...  F1897-0237
403       c12n(c(cs1)C)cc(c(cccc3NC(=O)c4ccccc4I)c3)n2  F1897-0260
404       c12n(c(cs1)C)cc(c3ccc(cc3)NC(=O)c4ccccc4I)n2  F1897-0371

[405 rows x 2 columns]

In [70]:
! pip3 install rdkit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: rdkit in /usr/local/lib/python3.9/dist-packages (2022.9.5)
Requirement already satisfied: Pillow in /usr/local/lib/python3.9/dist-packages (from rdkit) (8.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from rdkit) (1.22.4)

In [71]:
! pip3 install docopt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: docopt in /usr/local/lib/python3.9/dist-packages (0.6.2)

In [73]:
import sys
import rdkit
from rdkit import Chem
from rdkit.Chem.Descriptors import MolWt, MolLogP, NumHDonors, NumHAcceptors, TPSA
from rdkit.Chem.rdMolDescriptors import CalcNumRotatableBonds
import multiprocessing as mp
from multiprocessing import Pool
import time
import pandas as pd
import os
import json
from docopt import docopt
import pkg_resources

In [88]:
! python3 rd_filters.py filter --in actives.smi --prefix out

using 2 cores
Using alerts from Inpharmatica
Wrote SMILES for molecules passing filters to out.smi
Wrote detailed data to out.csv

In [90]:
! cat out.csv

SMILES,NAME,FILTER,MW,LogP,HBD,HBA,TPSA,Rot